.App {
  text-align: center;
}

body {
  background: white;
}

.App-logo {
  height: 100px;
  border-radius: 20%;
}

.App-header {
  height: 120px;
  padding: 20px;
  color: white;
}

.header {
  justify-content: center;
  display: flex;
  padding: 0 1em 2em ;
}

.body {
  width: 60em;
  justify-content: space-around;
  display: flex;
}

.main {
  display: flex;
  justify-content: space-around;
  background-image: url("https://s31.postimg.org/gor7fsrmj/image.png");
}

.main1 {
  background: black;
}

.movieData {
  font-weight: bold;
  background: rgb(201, 197, 197);
  padding: 3em;
  opacity: 0.96;
}

.data {
  margin-top: 2em;
}

.watchMe {
  font-weight: bold;
  color: blue;
  background: rgb(201, 197, 197);
  padding: 3em;
  min-height: 40em;
  min-width: 18em;
  opacity: 0.96;
}

.watch2 {
  font-size: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.bar {
  background: white;
  color: grey;
  font-size: 10px;
  min-height: 3em;
}

.pictbar {
  background-image: url('http://m.rgbimg.com/cache1nKVc9/users/x/xy/xymonau/600/mjaOveG.jpg');
  background-size: contain;
}

.searchbox {
  min-width: 18em;
}

.mummble {
  display: flex;
}

.clearButton {
  text-align: center;
}

.textField {
  border-radius: 20px;
  margin: 0 3em 0 2em;
}



