.App {
  text-align: center;
}

body {
  background: rgba(102, 100, 100, 0.596);
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 120px;
  padding: 20px;
  color: white;
}

.header {
  justify-content: center;
  display: flex;
  padding: 0 1em 2em ;
}

.body {
  width: 60em;
  justify-content: space-around;
  display: flex;
}

.main {
  display: flex;
  justify-content: space-around;
}

.main1 {
  background: black
}

.movieData {
  font-weight: bold;
  background: rgb(201, 197, 197);
  padding: 3em;
}

.data {
  margin-top: 2em;
}

.watchMe {
  font-weight: bold;
  color: blue;
  background: rgb(201, 197, 197);
  padding: 3em;
  justify-content: center;
  min-height: 40em;
}


.bar {
  background: black;
  color: grey;
  font-size: 10px;
  min-height: 3em;
}

.searchTitle {
  text-align: center;
}


.clearButton {
  text-align: center;  
}