.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 120px;
  padding: 20px;
  color: white;
}

/* ////what I am adding///// */

.header {
  justify-content: center;
  display: flex;
  padding: 2em;
}

.body {
  width: 60em;
  justify-content: space-around;
  display: flex;
}

.main {
  display: flex;
  justify-content: space-around;
}

.main1 {
  background: black
}

.movieData {
  font-weight: bold;
  color: red;
  background: rgb(201, 197, 197);
  padding: 3em;
}

.data {
  margin-top: 3em;
}

.watchMe {
  font-weight: bold;
  color: blue;
  background: rgb(201, 197, 197);
  padding: 3em;
}

.clearList {
  justify-content: center;
  display: flex;
}

.button {
  justify-content: center;
}